* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #161D2F;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.nav ul {
    display: flex;
}
.header__list {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    margin-right: 40px;
    list-style: none;
}
.header__Link {
    color: white;
    text-decoration: none;
}
.first {
    font-weight: 500;
}
.logo {
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
}
.button {
    background: linear-gradient(97.1deg, #3043A9 11.99%, #1F629F 96.6%);
    border-radius: 28px;
    padding: 13px 37px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #3043A9;
}
.section-1 {
    margin-top: 67px;
    text-align: center;
}
.section-1__text {
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;

}
.section-1__title {
    font-weight: bold;
    font-size: 62px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 20px;
}
.section-1__text_text2 {
    margin-bottom: 30px;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.button1 {
    background: #161D2F;
    border: 1px solid #ffff;
    margin-left: 20px;
}