* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #161D2F;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.nav ul {
    display: flex;
}
.header__list {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    margin-right: 40px;
    list-style: none;
}
.header__Link {
    color: white;
    text-decoration: none;
}
.first {
    font-weight: 500;
}
.logo {
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
}
.button {
    background: linear-gradient(97.1deg, #3043A9 11.99%, #1F629F 96.6%);
    border-radius: 28px;
    padding: 13px 37px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #3043A9;
}
.section-1 {
    margin-top: 67px;
    text-align: center;
}
.section-1__text {
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;

}
.section-1__title {
    font-weight: bold;
    font-size: 62px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 20px;
}
.section-1__text_text2 {
    margin-bottom: 30px;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.button1 {
    background: #161D2F;
    border: 1px solid #ffff;
    margin-left: 20px;
}
.section-2 {
    margin-top: 35px;
    margin-bottom: 50px;
    background: #161D2F;
}
.section-2__img {
    height: 600px;
}
.section-3 {
    background: #fff;
    color: #222222;
}
.section-3__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.section-3__card_img {
    width: 350px;
    height: 240px;
}
.section-3__title {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    padding-top: 100px;
}
.section-3__title-h2 {
    margin-bottom: 30px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    text-transform: capitalize;
    max-width: 590px;
    margin: auto;
}

.section-3__card_title {
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    margin-left: 20px;
}
.section-3__card_text {
    margin-left: 20px;
}
.section-3__card_article {
    margin-top: 36px;
    margin-bottom: 20px;
    margin-left: 20px;
    max-width: 323px;
}
.section-3__card_span {
    display: flex;
}
.span {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #3043A9;
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 100px;
}
