<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StayHealthy</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Lato:ital,wght@0,400;1,900&family=Poppins:wght@300;400;600;700;800&family=Roboto+Slab:wght@700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
<div class="container">
    <header class="header">
            <div class="logo"> StayHealthy</div>
            <nav class="nav">
                <ul>
                    <li class="header__list"><a href="#" class="header__Link first">Home</a></li>
                    <li class="header__list"><a href="#" class="header__Link">Program</a></li>
                    <li class="header__list"><a href="#" class="header__Link">Nutritions</a></li>
                    <li class="header__list"><a href="#" class="header__Link">Pricing</a></li>
                    <li class="header__list"><a href="#" class="header__Link">About</a></li>
                </ul>
            </nav>
            <div> 
                <button class="button">Join Now</button>
            </div>
    </header>
</div>

    <main>
        <div class="container"> 
            <!-- section 1-->
        <section class="section-1">
            <p class="section-1__text">WELCOME TO THE CLUB</p>
            <h1 class="section-1__title">Choose Your Programs, <br> Pick Your Meal,<br>Let’s Get Healthy.</h1>
            <div class="section-1__text_text2"> 
                <p class="section-1__text">StayHealty provides Online Training, and Consultation About Diet and 
                    Exercise tailored based on user needs. We will provide a training model 
                    that can be accessed anytime and anywhere with the best trainers.</p>
            </div>
            <div class="section-1__button">
                <button class="button">Join Now</button>
                <button class="button button1">Contact Us</button>
            </div>
        </section>
            <!-- section 2-->
        <section class="section-2">
            <img class="section-2__img" src="./image/video-Img.png" alt="video">
        </section>
        <section class="section-3">
            <p class="section-3__title">PROGRAMS</p>
            <h2 class="section-3__title-h2">We Have a programs to help your workouts</h2>
            <div class="section-3__cards">
                <div class="section-3__card">
                    <img src="./image/section3-1.jpg" alt="video" class="section-3__card_img">
                    <h3 class="section-3__card_title">Full Body Workout</h3>
                    <p class="section-3__card_text">By The Rock</p>
                    <p class="section-3__card_article">You can do it in 
                        your own home, all in under 30 mins? just need a mat and som . . .</p>
                    <div class="section-3__card_span">
                        <div class="span">Check out this program!</div>
                        <img src="./image/arrow-section3.svg" alt="arrow">
                    </div>
                </div>

                <div class="section-3__card">
                    <img src="./image/section3-2.jpg" alt="video" class="section-3__card_img">
                    <h3 class="section-3__card_title">Full Body Workout</h3>
                    <p class="section-3__card_text">By The Rock</p>
                    <p class="section-3__card_article">You can do it in
                        your own home, all in under 30 mins? just need a mat and som . . .</p>
                    <div class="section-3__card_span">
                        <div class="span">Check out this program!</div>
                        <img src="./image/arrow-section3.svg" alt="arrow">
                    </div>
                </div>

                <div class="section-3__card">
                    <img src="./image/section3-3.jpg" alt="" class="section-3__card_img">
                    <h3 class="section-3__card_title">Full Body Workout</h3>
                    <p class="section-3__card_text">By The Rock</p>
                    <p class="section-3__card_article">You can do it in
                        your own home, all in under 30 mins? just need a mat and som . . .</p>
                    <div class="section-3__card_span">
                        <div class="span">Check out this program!</div>
                        <img src="./image/arrow-section3.svg" alt="arrow">
                    </div>
                </div>
            </div>
        </section>
        <section class="section-4">
            <div class="section-4__person">
                    <img class="person1" src="./image/section4-2.jpg" alt="foto Person">
                    <img class="person2" src="./image/section4-3.jpg" alt="foto Person">
            </div>
            <div class="section-4__article">
                <div class="section-4__title-prod">Nutritions</div>
                <div class="section-4__title">Meal Preparation For Workout</div>
                <p class="section-4__text">Don’t worry we have the best 
                    nutritionist for your workout, firstly consult with our 
                    experts, we can make your meal
                    preparation based on Total Daily Energy Expenditure.</p>
                    <button class="button">Join Now</button>
            </div>
        </section>
    



        </div>
    </main>

    <footer></footer>
</body>
</html>